{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} ict {% endblock %}</title>
        <link rel="stylesheet" href="{% static 'pos/style.css' %}">
    </head>
<body>
    <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Summary</a></li>
        </ul>
      </nav>
    <!-- navigation bar -->
    {% block content %}
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
    {% endblock %}
</body>
</html>